<VirtualHost *:80>

ServerName registry.@YOUR_DOMAIN
ServerAlias www.registry.@YOUR_DOMAIN

RewriteEngine On 
RewriteCond %{HTTPS} !=on 
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,NE,L]

</VirtualHost>


<VirtualHost *:443>

ServerName registry.@YOUR_DOMAIN
ServerAlias www.registry.@YOUR_DOMAIN

# Logging
LogLevel warn
ErrorLog /var/log/httpd/registry.@YOUR_DOMAIN-error_log
CustomLog /var/log/httpd/registry.@YOUR_DOMAIN-access_log combined

# Reverse proxy configuration
<Location />
ProxyPass http://localhost:10180/
ProxyPassReverse http://localhost:10180/
</Location>

Include /etc/letsencrypt/options-ssl-apache.conf

</VirtualHost>
